@import "variables";

button {
	border: none;
	border-radius: 5px;
	height: 2.5em;
	padding: 0.75em 1em;

	cursor: pointer;

	text-align: center;
	font-size: 16px;
	min-width: fit-content;

	&.primary {
		background-color: $secondary;
		color: $white;

		&:hover {
			background-color: $dark-green;
		}
	}

	&.close {
		float: right;
		background: none;
		color: $secondary;

		i {
			width: 3em;
			height: 3em;
		}

		&:hover {
			color: $error;
		}
	}

	&.icon-button {
		background: none;
		color: white;
		padding: 0;
		height: fit-content;

		&:hover {
			color: $error;
		}
	}

	&.danger {
		background-color: $white;
		color: $error;
		border: 0.1em solid $error;

		&:hover {
			background-color: $error;
			color: $white;
		}

		&.is-in-progress {
			background-color: $error;
			color: white;
		}
	}

	&:disabled {
		pointer-events: none;
		background-color: rgba(0,0,0,0.4);
	}
}

// buttons in progress state
$indicatorsize: 3em;

button.is-in-progress {
	background-color: $dark-green;
	background-repeat: repeat;
	text-shadow: 0 0.07em 0 rgba(0,0,0,0.2);
	pointer-events: none;

	$darkcolor: rgba(255,255,255,0);
	$lightcolor: rgba(255,255,255,0.15);

	background-image: linear-gradient(-45deg, $lightcolor, $darkcolor 0%, $darkcolor 25%, $lightcolor 25%, $lightcolor 50%, $darkcolor 50%, $darkcolor 75%, $lightcolor 75%, $lightcolor);
	background-size: $indicatorsize $indicatorsize;

	-webkit-animation: backgroundpositionscrollforward 0.5s linear infinite;
	animation: backgroundpositionscrollforward 0.5s linear infinite;
}

@keyframes backgroundpositionscrollforward {
	from { background-position: 0 0; }
	to	 { background-position: $indicatorsize 0; }
}
