@import "variables";

form {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;

	padding: 1.5em 3em;
	border-radius: 10px;

	input, select {
		padding: 0.25em 0.5em;
		font-size: 16px;
		line-height: 1.5em;
	}

	input, select, textarea {
		margin-bottom: 1em;
		border: 0.1em solid $primary;
		color: $black;
		font-weight: 400;
	}

	.InputField, label {
		display: flex;
		flex-direction: column;
		font-weight: 600;

		span {
			margin-bottom: 0.125em;
		}
	}

	&.overlay-form {
		position: absolute;
		z-index: 2;
		top: 15%;
		left: 25%;
		width: 60%;

		background: white;
		color: $black;
	}

	&.full-page {
		background: none;
		color: $white;
		width: 50%;
		margin: 10em auto;
		text-align: center;

		.InputField {
			margin-bottom: 1em;

			input {
				align-self: center;
				width: 30%;
			}
		}

		button {
			width: 15%;
			margin-top: 1em;
		}
	}
}
