@import "variables";
@import "forms";
@import "buttons";
@import "tables";

// general application styling
html, body, #app {
	margin: 0;
	height: 100%;
	width: 100%;
	min-height: 100%;

	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 16px;

	background-color: $background;
	color: $black;
}

select, input, textarea {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
}


// general link styling
a {
	text-decoration: none;
	color: $white;
	font-weight: 500;

	&:hover, &.selected {
		color: $light-blue;
	}
}

// general select/input/textarea styling
select, input, textarea {
	border: none;
	border-radius: 5px;
	padding: 0 0.5em;
}

textarea {
	resize: none;
	padding: 1em 0.5em;
}

// general layout elements
.horizontal-line {
	border-bottom: 0.1em solid rgba(0,0,0,0.1);
}

.title-button-container {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.opaque-background {
	opacity: 0.2;
}

.one-liner {
	display: flex;
	justify-content: space-between;

	& > .InputField {
		width: 33%;
	}
}

.help-text {
	font-size: 14px;
	line-height: 1em;
	color: darkgrey;
}

.error, .success {
	text-align: center;
	margin-bottom: 1em;
	font-weight: 600;
	font-size: 16px;
}

.error {
	color: $error;
}

.success {
	color: $success;
}
