.list-table {
	width: 100%;
	margin-right: 3em;
	padding: 0 1.5em;

	line-height: 2em;
	text-align: left;
	border-spacing: 0 1em;

	a {
		color: $black;
		padding-right: 0.25em;

		&:hover {
			color: $light-blue;
		}
	}

	& > thead > tr > th {
		padding-left: 1em;
	}

	tbody {
		font-size: 16px;

		tr {
			td {
				padding: 1em 0 1em 1em;
				background: white;
			}

			td:first-child {
				border-radius: 10px 0 0 10px;
			}

			td:last-child {
				border-radius: 0 10px 10px 0;
			}
		}
	}
}

.small-list-table {
	width: 100%;
	padding: 0 0.5em;

	line-height: 1em;
	text-align: left;
	font-size: 14px;

	border-collapse: collapse;

	& > thead > tr > th {
		padding-left: 1em;
		padding-bottom: 1em;
		border-bottom: 0.1em solid rgba(0,0,0,0.1);
	}

	tbody {
		tr {
			td {
				padding: 1em 0 1em 1em;
				background: white;
				border-bottom: 0.1em solid rgba(0,0,0,0.1);
			}
		}
	}
}
