$primary: #0A4273;
$light-blue: #AED8FA;
$secondary: #0FA697;
$dark-green: #0D8C7F;

$success: #07B340;
$error: #F2332E;
$pending: #ffb31f;
$purple: #8f4cbb;

$background: #f0f0f0;
$black: rgba(0,0,0,0.8);
$white: #ffffff;


