<template>
  <form class="AddNewOrderForm overlay-form" @submit.prevent="submitForm" v-if="user" @input="errorMessage = ''">
    <div class="title-button-container">
      <h2>Add new order</h2>
      <button type="button" class="close" @click="closeForm"><i class="far fa-times-circle fa-lg"></i></button>
    </div>

    <div class="error" v-if="errorMessage">{{errorMessage}}</div>

    <label v-if="user.isAdmin">
      <span>Client*</span>
      <select v-model="clientId">
        <option value="null">Select Client</option>
        <option v-for="client in clients" :key="client.id" :value="client.id">{{`${client.name} (${client.registrationNumber})`}}</option>
      </select>
    </label>
    <InputField inputType="date" label="Preferred Delivery Date" v-model="preferredDeliveryDate"/>

    <h3>Products*</h3>

    <table class="small-list-table">
      <thead>
        <tr>
          <th>Product code</th>
          <th>Product name</th>
          <th>Product price</th>
          <th>Quantity</th>
          <th>Total price</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
      <tr v-for="orderItem in orderItems" :key="orderItem.productId">
        <td>{{orderItem.productCode}}</td>
        <td>{{orderItem.productName}} - {{orderItem.productSize}}</td>
        <td>{{orderItem.unitSellingPrice}} lei</td>
        <td>{{orderItem.quantity}}</td>
        <td>{{orderItem.totalPrice}} lei</td>
        <td><button class="close" @click="removeOrderItem(orderItem.productId)"><i class="far fa-times-circle fa-lg"></i></button></td>
      </tr>
      </tbody>
    </table>

    <AddOrderItemForm :products="products" @addItemToOrder="addItemToOrder"></AddOrderItemForm>

    <div class="help-text">* required</div>
    <button class="submit primary" :class="{'is-in-progress': isLoading}" :disabled="!clientId || !orderItems.length">Submit order</button>
  </form>
</template>

<script lang="ts">
import {
  defineComponent, ref, watch, watchEffect,
} from 'vue';
import InputField from '../UI/InputField.vue';
import {
  Client, ObjectWithStringIndexes, OrderItem, Product,
} from '../../model/types';
import fetch from '../../util/fetch';
import AddOrderItemForm from './AddOrderItemForm.vue';

export default defineComponent({
  name: 'AddNewOrderForm',
  components: {
    InputField,
    AddOrderItemForm,
  },
  props: {
    accessToken: {
      type: String,
      required: true,
    },
    user: {
      type: Object,
      required: true,
    },
  },
  setup(props, context) {
    const clientId = ref<string|null>(null);
    const clients = ref<Array<Client>>([]);
    const preferredDeliveryDate = ref<string>('');
    const productId = ref<string>('');
    const products = ref<Array<Product>>([]);
    const quantity = ref<string>('');
    const orderItems = ref<Array<OrderItem>>([]);
    const isLoading = ref<boolean>(false);
    const errorMessage = ref<string>('');

    const getClients = () => {
      fetch('clients', null, 'GET', props.accessToken)
        .then((content) => {
          if (content.error) {
            return;
          }

          clients.value = content.clients;
        });
    };
    const getProducts = (id: string) => {
      fetch(`products?clientId=${id}`, null, 'GET', props.accessToken)
        .then((content) => {
          if (content.error) {
            return;
          }

          products.value = content.products;
        });
    };

    watchEffect(() => {
      if (!props.user) {
        return;
      }

      if (props.user.isAdmin) {
        getClients();
      } else {
        clientId.value = props.user.clientId;
      }
    });
    watch(clientId, (newValue) => {
      if (!newValue) {
        return;
      }

      getProducts(newValue);
    }, { immediate: true });

    return {
      clientId,
      clients,
      preferredDeliveryDate,
      productId,
      products,
      quantity,
      orderItems,
      isLoading,
      errorMessage,
      addItemToOrder: (orderItem: OrderItem) => {
        let foundProductIdInList = false;

        orderItems.value.forEach((item: any) => {
          if (item.productId === orderItem.productId) {
            foundProductIdInList = true;
            item.quantity += orderItem.quantity;
            item.totalPrice += orderItem.totalPrice;
          }
        });

        if (!foundProductIdInList) {
          orderItems.value.push(orderItem);
        }
      },
      removeOrderItem: (id: string) => {
        orderItems.value.splice(orderItems.value.findIndex((item) => item.productId === id), 1);
      },
      closeForm: () => {
        context.emit('update:openForm', false);
      },
      submitForm: () => {
        isLoading.value = true;
        fetch('orders', {
          orderItems: orderItems.value,
          clientId: clientId.value,
          preferredDeliveryDate: preferredDeliveryDate.value,
        }, 'POST', props.accessToken)
          .then((content) => {
            if (content.error) {
              isLoading.value = false;
              errorMessage.value = content.errorMessage;
              return;
            }

            isLoading.value = false;
            context.emit('update:openForm', false);

            orderItems.value = [];
            clientId.value = null;
            preferredDeliveryDate.value = '';
          });
      },
    };
  },
});
</script>

<style lang="scss">
.AddNewOrderForm {
  .list-table {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
  }

  select {
    height: 2.25em;
  }

  .one-liner {
    label, .InputField {
      width: 48%;
    }
  }

  .submit.primary {
    width: 10em;
  }

  .help-text {
    margin-bottom: 1em;
  }
}
</style>
