<template>
  <form @submit.prevent="addItemToOrder" @input="errorMessage = ''">
    <div v-if="errorMessage" class="error">{{errorMessage}}</div>

    <div class="one-liner">
      <select v-model="product">
        <option value="null" class="help-text">Select Product</option>
        <option v-for="product in products" :key="product.id" :value="JSON.stringify(product)">{{`${product.productCode}, ${product.name} (${product.size})`}}</option>
      </select>
      <InputField inputType="number" placeholder="Quantity" v-model="quantity" step="1"/>

      <button class="primary" :class="{'is-in-progress': isLoading}" :disabled="!product || !quantity">
        <i class="fas fa-plus-circle fa-sm"></i> Add to order
      </button>
    </div>
  </form>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import InputField from '../UI/InputField.vue';
import { Product } from '../../model/types';

export default defineComponent({
  name: 'AddOrderItemForm',
  components: {
    InputField,
  },
  props: {
    products: {
      type: Array,
      required: true,
    },
  },
  setup(props, context) {
    const product = ref<Product|null>(null);
    const quantity = ref<number|null>(null);
    const errorMessage = ref<string>('');
    const isLoading = ref<boolean>(false);

    return {
      product,
      quantity,
      errorMessage,
      isLoading,
      addItemToOrder: () => {
        if (Number(quantity.value) < 0) {
          errorMessage.value = 'Quantity is invalid';
          return;
        }

        if (!product.value) {
          errorMessage.value = 'Please select a product';
          return;
        }

        isLoading.value = true;
        const productObject = JSON.parse(product.value);
        const orderItem = {
          productId: productObject.id,
          productCode: productObject.productCode,
          productName: productObject.name,
          productSize: productObject.size,
          quantity: Number(quantity.value),
          unitSellingPrice: productObject.sellingPrice,
          unitProductionPrice: productObject.productionPrice,
          totalPrice: (Number(quantity.value) * Number(productObject.sellingPrice)),
        };

        quantity.value = null;
        product.value = null;

        context.emit('addItemToOrder', orderItem);
        isLoading.value = false;
      },
    };
  },
});
</script>

<style lang="scss">

</style>
