<template>
  <tr v-if="order && user">
    <td>{{order.id}}</td>
    <td v-if="createdDate">{{createdDate}}</td>
    <td v-if="user && user.isAdmin">{{order.clientName}}</td>
    <td>
      <StatusLabel v-if="!user.isAdmin" :status="order.status"/>
      <StatusSelect v-if="user.isAdmin" :status="order.status" :orderId="order.id" :accessToken="accessToken" :user="user" @statusChanged="statusChanged"/>
    </td>
    <td>{{order.totalAmount}} lei</td>
    <td v-if="user && user.isAdmin && orderProfit">{{orderProfit}} lei</td>
    <td v-if="preferredDeliveryDate">{{preferredDeliveryDate}}</td>
    <td v-if="updatedDate">{{updatedDate}}</td>
    <td><router-link :to="`/order/${order.id}`"><i class="fas fa-chevron-right"></i></router-link></td>
  </tr>
</template>

<script lang="ts">
import { defineComponent, ref, watchEffect } from 'vue';
import moment from 'moment';
import StatusLabel from '../UI/StatusLabel.vue';
import StatusSelect from '../UI/StatusSelect.vue';

export default defineComponent({
  name: 'InlineOrder',
  components: {
    StatusLabel,
    StatusSelect,
  },
  props: {
    accessToken: {
      type: String,
      required: true,
    },
    user: {
      type: Object,
      required: true,
    },
    order: {
      type: Object,
      required: true,
    },
  },
  setup(props, context) {
    const createdDate = ref<string>('');
    const updatedDate = ref<string>('');
    const preferredDeliveryDate = ref<string>('');
    const orderProfit = ref<number|null>(null);

    watchEffect(() => {
      if (!props.order) {
        return;
      }

      createdDate.value = moment(props.order.timeAdded).format('MMMM Do YYYY');
      updatedDate.value = moment(props.order.timeLastUpdated).format('MMMM Do YYYY');
      preferredDeliveryDate.value = props.order.preferredDeliveryDate ? moment(props.order.preferredDeliveryDate).format('MMMM Do YYYY') : 'Not specified';
      orderProfit.value = Number(props.order.totalAmount) - Number(props.order.totalProductionAmount);
    });

    return {
      createdDate,
      updatedDate,
      preferredDeliveryDate,
      orderProfit,
      statusChanged: () => {
        context.emit('statusChanged');
      },
    };
  },
});
</script>

<style lang="scss">

</style>
