<template>
  <table class="list-table">
    <thead>
    <tr>
      <th>OrderId</th>
      <th>Created</th>
      <th v-if="user && user.isAdmin">Client</th>
      <th>Status</th>
      <th>Total</th>
      <th v-if="user && user.isAdmin">Profit</th>
      <th>Preferred Delivery Date</th>
      <th>Updated</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
      <InlineOrder v-for="order in orders" :key="order.id" :order="order" :user="user" :accessToken="accessToken" @statusChanged="statusChanged"/>
    </tbody>
  </table>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import InlineOrder from './InlineOrder.vue';

export default defineComponent({
  name: 'OrdersTable',
  components: {
    InlineOrder,
  },
  props: {
    accessToken: {
      type: String,
      required: true,
    },
    user: {
      type: Object,
      required: true,
    },
    orders: {
      type: Array,
      required: true,
    },
  },
  setup(props, context) {
    return {
      statusChanged: () => {
        context.emit('statusChanged');
      },
    };
  },
});
</script>
