<template>
  <div v-if="order" class="Order">
    <h2>Order #{{order.id}} – {{order.clientName}}</h2>

    <div class="one-liner">
      <p v-if="createdDate">
        <strong>Created:</strong> {{createdDate}}
      </p>
      <p v-if="updatedDate">
        <strong>Last updated:</strong> {{updatedDate}}
      </p>
    </div>

    <p v-if="preferredDeliveryDate">
      <strong>Preferred Delivery Date:</strong>
      {{preferredDeliveryDate}}
    </p>

    <div class="status-container">
      <strong>Status:</strong>
      <StatusLabel v-if="!user.isAdmin" :status="order.status"/>
      <StatusSelect v-if="user.isAdmin" :status="order.status" :orderId="order.id" :accessToken="accessToken" :user="user"/>
    </div>

    <table class="small-list-table">
      <thead>
      <tr>
        <th>Product code</th>
        <th>Product name</th>
        <th>Product price</th>
        <th>Quantity</th>
        <th>Total price</th>
      </tr>
      </thead>

      <tbody>
      <tr v-for="orderItem in orderItems" :key="orderItem.productId">
        <td>{{orderItem.productCode}}</td>
        <td>{{orderItem.productName}} - {{orderItem.productSize}}</td>
        <td>{{orderItem.unitSellingPrice}} lei</td>
        <td>{{orderItem.quantity}}</td>
        <td>{{orderItem.totalPrice}} lei</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><strong>Total</strong></td>
        <td><strong>{{order.totalAmount}} lei</strong></td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from 'vue';
import { useRoute } from 'vue-router';
import moment from 'moment';
import { Order, OrderItem } from '../../model/types';
import fetch from '../../util/fetch';
import StatusLabel from '../UI/StatusLabel.vue';
import StatusSelect from '../UI/StatusSelect.vue';

export default defineComponent({
  name: 'Order',
  components: {
    StatusLabel,
    StatusSelect,
  },
  props: {
    accessToken: {
      type: String,
      required: true,
    },
    user: {
      type: Object,
      required: true,
    },
  },
  setup(props) {
    const route = useRoute();
    const order = ref<Order|null>(null);
    const orderId = ref<string|null>(null);
    const orderStatus = ref<string|null>(null);
    const createdDate = ref<string>('');
    const updatedDate = ref<string>('');
    const preferredDeliveryDate = ref<string>('');
    const orderItems = ref<Array<OrderItem>>([]);

    const getOrder = (id: string) => {
      fetch(`orders/${id}`, null, 'GET', props.accessToken)
        .then((content) => {
          if (content.error) {
            return;
          }

          order.value = content.product;
          orderStatus.value = order.value!.status;

          createdDate.value = moment(order.value!.timeAdded).format('MMMM Do YYYY');
          updatedDate.value = moment(order.value!.timeLastUpdated).format('MMMM Do YYYY');
          preferredDeliveryDate.value = order.value!.preferredDeliveryDate ? moment(order.value!.preferredDeliveryDate).format('MMMM Do YYYY') : 'Not specified';
        });
    };
    const getOrderItems = (id: string) => {
      fetch(`orderItems?orderId=${id}`, null, 'GET', props.accessToken)
        .then((content) => {
          if (content.error) {
            return;
          }

          orderItems.value = content.orderItems;
        });
    };

    onMounted(() => {
      orderId.value = route.params.id as string;
      getOrder(orderId.value);
      getOrderItems(orderId.value);
    });

    return {
      order,
      createdDate,
      updatedDate,
      preferredDeliveryDate,
      orderItems,
    };
  },
});
</script>

<style lang="scss">
.Order {
  .one-liner {
    justify-content: normal;
     & > p {
       margin-right: 2em;
     }
  }

  .status-container {
    strong {
      margin-right: 1em;
    }
  }

  .small-list-table {
    margin-top: 3em;
  }
}

</style>
