<template>
  <form class="AddNewClientForm overlay-form" @submit.prevent="submitForm" @input="errorMessage = ''">
    <div class="title-button-container">
      <h2>Add new client</h2>
      <button type="button" class="button close" @click="closeForm"><i class="far fa-times-circle fa-lg"></i></button>
    </div>

    <div>
      <div class="error" v-if="errorMessage">{{errorMessage}}</div>

      <InputField inputType="text" label="Client Name*" v-model="clientName"/>
      <InputField inputType="text" label="RegistrationNumber*" v-model="registrationNumber"/>
      <InputField inputType="text" label="Email*" v-model="email"/>
      <InputField inputType="text" label="Address Line 1*" v-model="addressLine1"/>
      <InputField inputType="text" label="Address Line 2" v-model="addressLine2"/>

      <div class="one-liner">
        <InputField inputType="number" label="Zip Code*" v-model="zipCode"/>
        <InputField inputType="text" label="City*" v-model="city"/>
        <InputField inputType="text" label="Country*" v-model="country"/>
      </div>
    </div>

    <div class="help-text">* required</div>

    <button type="submit" class="button primary" :class="{'is-in-progress': isLoading}">Save</button>
  </form>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import InputField from '../UI/InputField.vue';
import fetch from '../../util/fetch';

export default defineComponent({
  name: 'AddNewClientForm',
  components: {
    InputField,
  },
  props: {
    accessToken: {
      type: String,
      required: true,
    },
  },
  setup(props, context) {
    const clientName = ref<string>('');
    const registrationNumber = ref<string>('');
    const email = ref<string>('');
    const addressLine1 = ref<string>('');
    const addressLine2 = ref<string>('');
    const zipCode = ref<string>('');
    const city = ref<string>('');
    const country = ref<string>('');
    const errorMessage = ref<string>('');
    const isLoading = ref<boolean>(false);

    return {
      clientName,
      registrationNumber,
      email,
      addressLine1,
      addressLine2,
      zipCode,
      city,
      country,
      errorMessage,
      isLoading,
      closeForm: () => {
        context.emit('update:openForm', false);
      },
      submitForm: () => {
        if (!clientName.value || !registrationNumber.value || !email.value || !addressLine1.value || !zipCode.value || !city.value || !country.value) {
          errorMessage.value = 'Please fill in all of the fields!';
          return;
        }

        if (!email.value.match(/@/)) {
          errorMessage.value = 'Please enter a valid email address!';
          return;
        }

        isLoading.value = true;

        fetch('clients', {
          name: clientName.value,
          registrationNumber: registrationNumber.value,
          email: email.value,
          addressLine1: addressLine1.value,
          addressLine2: addressLine2.value ?? null,
          zipCode: zipCode.value,
          city: city.value,
          country: country.value,
        }, 'POST', props.accessToken).then((content) => {
          if (content.error) {
            errorMessage.value = content.errorMessage;
            isLoading.value = false;
            return;
          }

          isLoading.value = false;
          context.emit('update:openForm', false);
        });
      },
    };
  },
});
</script>

<style lang="scss">
.AddNewClientForm {
  .button.primary {
    margin-top: 2em;
    width: 10em;
  }
}
</style>
