<template>
  <div class="Client" v-if="client !== null">
    <div>
      <h2>{{client.name}}</h2>
      <p>{{client.registrationNumber}}</p>
      <p><strong>Email:</strong> {{client.email}}</p>
      <p>
        <strong>Address:</strong>
        {{
          `${client.addressLine1} ${client.addressLine2},
           ${client.zipCode} ${client.city}, ${client.country}`
        }}
      </p>
      <p>
        <strong>Has account:</strong>
        {{hasUser ? 'Yes' : 'No'}}
      </p>
      <p>
        <strong>Signup email send:</strong>
        {{client.accountRequestSent ? 'Yes' : 'No'}}
      </p>
    </div>

    <div>
      <button class="primary" :class="{'is-in-progress': sendingInProgress}" v-if="!hasUser" @click="sendSignupEmail">{{client.accountRequestSent ? 'Resend signup email' : 'Send signup email'}}</button>
      <button class="danger" :class="{'is-in-progress': deleteInProgress}" v-if="hasUser" @click="deleteUser">Delete client account</button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from 'vue';
import { useRoute } from 'vue-router';
import { Client } from '../../model/types';
import fetch from '../../util/fetch';

export default defineComponent({
  name: 'Client',
  props: {
    accessToken: {
      type: String,
      required: true,
    },
    user: {
      type: Object,
      required: true,
    },
  },
  setup(props) {
    const route = useRoute();
    const client = ref<Client|null>(null);
    const clientId = ref<string|null>(null);
    const hasUser = ref<boolean|undefined>(undefined);
    const sendingInProgress = ref<boolean>(false);
    const deleteInProgress = ref<boolean>(false);

    const getClient = (id: string) => {
      fetch(`clients/${id}`, null, 'GET', props.accessToken)
        .then((content) => {
          if (content.error) {
            return;
          }

          client.value = content.client;
        });
    };

    const getUsersForClient = (id: string) => {
      fetch(`users?clientId=${id}`, null, 'GET', props.accessToken)
        .then((content) => {
          if (content.error) {
            return;
          }

          if (content.users && content.users.length) {
            hasUser.value = true;
            return;
          }

          hasUser.value = false;
        });
    };

    onMounted(() => {
      clientId.value = route.params.id as string;
      getClient(clientId.value);
      getUsersForClient(clientId.value);
    });

    return {
      client,
      hasUser,
      sendingInProgress,
      deleteInProgress,
      sendSignupEmail: () => {
        sendingInProgress.value = true;

        fetch('auth/client-account-request', {
          id: clientId.value,
        }, 'POST', props.accessToken)
          .then((content) => {
            if (content.error) {
              sendingInProgress.value = false;
              alert(content.errorMessage);
              return;
            }

            if (content.success) {
              sendingInProgress.value = false;
              alert(content.successMessage);
              getClient(clientId.value as string);
            }
          });
      },
      deleteUser: () => {
        deleteInProgress.value = true;

        fetch(`users?clientId=${clientId.value}`, null, 'DELETE', props.accessToken)
          .then((content) => {
            if (content.error) {
              deleteInProgress.value = false;
              alert('Could not delete user. Try again!');
              return;
            }

            if (content.success) {
              deleteInProgress.value = false;
              alert('User deleted successfully');
              getUsersForClient(clientId.value as string);
            }
          });
      },
    };
  },
});
</script>

<style lang="scss">
.Client {
  h2 {
    margin-bottom: -0.5em;
  }
}
</style>
