<template>
  <div class="Login">
    <form class="full-page" @submit.prevent="authenticateUser" @input="errorMessage = ''">
      <h1>Login</h1>
      <div class="error" v-if="errorMessage">{{errorMessage}}</div>

      <div>
        <InputField inputType="text" label="Email" v-model="email"/>
        <InputField inputType="password" label="Password" v-model="password"/>

        <p class="help-text">
          <span>Forgot your password? Reset it </span>
          <router-link to="/reset-password">here</router-link>
          <span>.</span>
        </p>

        <button class="primary" :class="{'is-in-progress': isLoading}" type="submit">Login</button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import InputField from '../UI/InputField.vue';
import router from '../../router';
import fetch from '../../util/fetch';

export default defineComponent({
  name: 'Login',
  components: {
    InputField,
  },
  setup(props, context) {
    const email = ref<string>('');
    const password = ref<string>('');
    const errorMessage = ref<string>('');
    const isLoading = ref<boolean>(false);

    return {
      email,
      password,
      errorMessage,
      isLoading,
      authenticateUser: () => {
        if (!email.value || !password.value) {
          errorMessage.value = 'Please fill in all of the fields!';
          return;
        }

        isLoading.value = true;
        fetch('auth/login', {
          email: email.value,
          password: password.value,
        }).then((content) => {
          if (content.error) {
            errorMessage.value = content.errorMessage;
            isLoading.value = false;
            return;
          }

          isLoading.value = false;
          context.emit('userAuth', { token: content.accessToken, userId: content.userId });
          router.push('/');

          email.value = '';
          password.value = '';
        });
      },
    };
  },
});
</script>
