<template>
  <div class="NewPassword">
    <form class="full-page" @submit.prevent="resetPassword" @input="errorMessage = ''">
      <h1>Reset Password</h1>
      <div class="error" v-if="errorMessage">{{errorMessage}}</div>

      <div class="form-contents">
        <InputField inputType="password" label="New password" v-model="password"/>
        <InputField inputType="password" label="Repeat new password" v-model="repeatPassword"/>

        <button class="primary" type="submit">Reset password</button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from 'vue';
import { useRoute } from 'vue-router';
import InputField from '../UI/InputField.vue';
import router from '../../router';
import fetch from '../../util/fetch';

export default defineComponent({
  name: 'NewPassword',
  components: {
    InputField,
  },
  setup() {
    const route = useRoute();
    const password = ref<string>('');
    const repeatPassword = ref<string>('');
    const errorMessage = ref<string>('');
    const token = ref<string|null>('');

    onMounted(() => {
      if (!route.query.token) {
        router.push('/login');
        return;
      }

      token.value = route.query.token as string;
    });

    return {
      password,
      repeatPassword,
      errorMessage,
      resetPassword: () => {
        if (!token.value) {
          errorMessage.value = 'This is a invalid reset password link!';
          return;
        }

        if (!password.value || !repeatPassword.value) {
          errorMessage.value = 'Please fill in all of the fields!';
          return;
        }

        if (password.value !== repeatPassword.value) {
          errorMessage.value = 'Please input the same password in both fields!';
          return;
        }

        if (password.value.length < 8) {
          errorMessage.value = 'The password needs to be at least 8 characters!';
          return;
        }

        const headers = new Headers();
        headers.append('Authorization', `Bearer ${token.value}`);

        fetch('auth/new-password', { password: password.value }, 'POST', token.value)
          .then((content) => {
            if (content.error) {
              errorMessage.value = content.errorMessage;
              return;
            }

            if (content.success) {
              router.push('/login');

              password.value = '';
              repeatPassword.value = '';
            }
          });
      },
    };
  },
});
</script>

<style lang="scss">
.NewPassword {
  button.primary {
    width: fit-content;
  }
}
</style>
