<template>
  <div class="ResetPassword">
    <form class="full-page" @submit.prevent="resetPassword" @input="errorMessage = ''">
      <h1>Reset Password</h1>

      <div class="error" v-if="errorMessage">{{errorMessage}}</div>
      <div class="success" v-if="successMessage">{{successMessage}}</div>

      <div>
        <InputField inputType="text" label="Email" v-model="email"/>
        <button class="primary" type="submit">Send email to reset password</button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import InputField from '../UI/InputField.vue';
import fetch from '../../util/fetch';

export default defineComponent({
  name: 'ResetPassword',
  components: {
    InputField,
  },
  setup() {
    const email = ref<string>('');
    const errorMessage = ref<string>('');
    const successMessage = ref<string>('');

    return {
      email,
      errorMessage,
      successMessage,
      resetPassword: () => {
        if (!email.value) {
          errorMessage.value = 'Please fill in the email!';
          return;
        }

        fetch('auth/reset-password', {
          email: email.value,
        }).then((content) => {
          if (content.error) {
            errorMessage.value = content.errorMessage;
            return;
          }

          if (content.success) {
            successMessage.value = content.successMessage;
            email.value = '';
          }
        });
      },
    };
  },
});
</script>

<style lang="scss">
.ResetPassword {
  button.primary {
    width: fit-content;
  }
}
</style>
