<template>
  <div class="Signup">
    <form class="full-page" @submit.prevent="signUp">
      <h1>Signup</h1>

      <div class="error" v-if="errorMessage">{{errorMessage}}</div>
      <div class="success" v-if="successMessage">{{successMessage}}</div>

      <div>
        <InputField inputType="text" label="Name" v-model="name"/>
        <InputField inputType="text" label="Email" v-model="email"/>
        <InputField inputType="password" label="Password" v-model="password"/>
        <InputField inputType="password" label="Repeat Password" v-model="repeatPassword"/>
        <p class="help-text">The password needs to be a minimum of 8 characters</p>

        <p class="help-text">
          <span>Have an account already? Login </span>
          <router-link to="/login">here</router-link>
          <span>.</span>
        </p>

        <button class="primary" type="submit">Signup</button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from 'vue';
import { LocationQuery, useRoute } from 'vue-router';
import InputField from '../UI/InputField.vue';
import fetch from '../../util/fetch';
import router from '../../router';

export default defineComponent({
  name: 'Signup',
  components: {
    InputField,
  },
  setup() {
    const name = ref<string>('');
    const email = ref<string>('');
    const password = ref<string>('');
    const repeatPassword = ref<string>('');
    const errorMessage = ref<string>('');
    const successMessage = ref<string>('');
    const query = ref<LocationQuery|undefined>(undefined);
    const token = ref<string|null>('');
    const route = useRoute();

    onMounted(() => {
      if (!route.query.token) {
        router.push('/login');
        return;
      }
      query.value = route.query;

      name.value = query.value.name ? (query.value.name as string) : '';
      email.value = query.value.email ? (query.value.email as string) : '';
      token.value = query.value.token ? (query.value.token as string) : null;
    });

    return {
      name,
      email,
      password,
      repeatPassword,
      errorMessage,
      successMessage,
      signUp: () => {
        if (!name.value || !email.value || !password.value || !repeatPassword.value) {
          errorMessage.value = 'Please fill in all of the fields!';
          return;
        }

        if (!email.value.match(/@/)) {
          errorMessage.value = 'Please enter a valid email address!';
          return;
        }

        if (password.value.length < 8) {
          errorMessage.value = 'Password needs to be at least 8 characters!';
          return;
        }

        if (password.value !== repeatPassword.value) {
          errorMessage.value = 'Passwords are not the same!';
          return;
        }

        fetch('auth/create-client-account', {
          name: name.value,
          email: email.value,
          password: password.value,
        }, 'POST', token.value).then((content) => {
          if (content.error) {
            errorMessage.value = content.errorMessage;
            return;
          }

          if (content.success) {
            successMessage.value = 'User was successfully created!';
            router.push('/login');
          }
        });

        name.value = '';
        email.value = '';
        password.value = '';
        repeatPassword.value = '';
      },
    };
  },
});
</script>
