<template>
  <div class="overview-container" :class="containerStatus">
    <span class="container-label">{{containerLabel}}</span>
    <span class="container-value">{{containerValue ? containerValue : 0}}</span>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'DashboardOverviewContainer',
  props: {
    containerLabel: {
      type: String,
      required: true,
    },
    containerValue: {
      type: [String, Number],
    },
    containerStatus: {
      type: String,
      required: true,
    },
  },
});
</script>

<style lang="scss">

.overview-container {
  display: flex;
  align-items: center;

  text-align: center;
  font-weight: 600;
  color: rgba(0,0,0,0.8);

  background-color: white;
  border-radius: 10px;
  padding: 0.75em;
  height: 4em;
  min-width: 16%;

  .container-label {
    width: 60%;
  }

  .vertical-line {
    border-left: rgba(0,0,0,0.2) solid 1px;
    height: 3em;
    margin: 0 0.5em;
  }

  .container-value {
    flex: 1;
  }

  &.awaiting {
    border-left: #ffb31f solid 0.5em;
    .container-value {
      color: #ffb31f;
    }
  }
  &.being-delivered {
    border-left: #8f4cbb solid 0.5em;
    .container-value {
      color: #8f4cbb;
    }
  }
  &.done {
    border-left: #07B340 solid 0.5em;
    .container-value {
      color: #07B340;
    }
  }
}
</style>
