<template>
  <label class="InputField">
    <span>{{label}}</span>
    <input :type="inputType" :placeholder="placeholder" @input="onInput" :value="modelValue" :step="step">
  </label>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

export default defineComponent({
  name: 'InputField',
  props: {
    inputType: {
      required: true,
      type: String,
    },
    placeholder: {
      required: false,
      type: String,
    },
    label: {
      required: false,
      type: String,
    },
    step: {
      required: false,
      type: String,
    },
    modelValue: [String, Number],
  },
  setup(props, context) {
    const value = ref<string>('');
    return {
      value,
      onInput: (event: any) => {
        context.emit('update:modelValue', event.target.value);
      },
    };
  },
});
</script>
