<template>
  <div class="navigation-bar" v-if="user">
    <div class="user-container">
      <div class="icon">
        <i class="fas fa-user-circle fa-2x"></i>
      </div>
      <div>
        <div class="name">
          <span>{{user.name}}</span>
          <button class="icon-button" title="Logout" @click="logout"><i class="fas fa-sign-out-alt fa-sm"></i></button>
        </div>
      </div>
    </div>
    <div class="horizontal-line"></div>

    <span class="links-container">
      <router-link to="/" :class="{'selected': route.name === 'Dashboard' }" v-if="user.isAdmin">
        <div><i class="fas fa-home fa-lg"></i></div>Dashboard
      </router-link>
      <router-link to="/orders" :class="{'selected': route.name === 'Orders' }">
        <div><i class="fas fa-clipboard-list fa-lg"></i></div>Orders
      </router-link>
      <router-link to="/products" :class="{'selected': route.name === 'Products' }" v-if="user.isAdmin">
        <div><i class="fas fa-box fa-lg"></i></div>Products
      </router-link>
      <router-link to="/clients" :class="{'selected': route.name === 'Clients' }" v-if="user.isAdmin">
        <div><i class="fas fa-address-book fa-lg"></i></div>Clients
      </router-link>
<!--      <router-link to="/analytics" :class="{'selected': route.name === 'Analytics' }" v-if="user.isAdmin">-->
<!--        <div><i class="far fa-chart-bar fa-lg"></i></div>Analytics-->
<!--      </router-link>-->
<!--      <router-link to="/settings" :class="{'selected': route.name === 'Settings' }" v-if="user.isAdmin">-->
<!--        <div><i class="fas fa-cog fa-lg"></i></div>Settings-->
<!--      </router-link>-->
    </span>

    <div class="logo"></div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { useRoute } from 'vue-router';

export default defineComponent({
  name: 'NavBar',
  props: {
    user: {
      type: Object,
      required: false,
    },
  },
  setup(props, context) {
    const route = useRoute();

    return {
      route,
      logout: () => {
        context.emit('logout');
      },
    };
  },
});
</script>

<style lang="scss">
@import '../../scss/variables';
.navigation-bar {
  background-color: $primary;
  padding-left: 3em;

  .user-container {
    display: flex;
    align-items: center;
    height: 5em;
    max-width: 12em;

    color: white;
    font-size: 14px;
    font-weight: 300;

    .icon {
      margin-right: 0.75em;
    }

    .name {
      font-weight: 500;
    }

    .icon-button {
      margin-left: 0.75em;
    }
  }

  .horizontal-line {
    margin-left: -3em;
    border-bottom: 0.1em solid rgba(250, 250, 250, 0.4);
  }

  .links-container {
    margin-top: 3em;

    display: flex;
    flex-direction: column;

    a {
      font-size: 16px;
      line-height: 1.5em;
      margin-bottom: 1.5em;

      div {
        display: inline-block;
        width: 1.5em;
        margin-right: 0.75em;
        text-align: center;
      }
    }
  }

  .logo {
    background: url("../../../public/Logo.png") no-repeat;
    background-size: contain;
    height: 3.5em;
    width: 15em;

    position: absolute;
    left: 1.5em;
    bottom: 1.5em;
  }
}
</style>
