<template>
  <div class="StatusLabel" :data-status="status">{{status}}</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'StatusLabel',
  props: {
    status: {
      type: String,
      required: true,
    },
  },
});
</script>

<style lang="scss">
@import "../../scss/variables";

.StatusLabel {
  width: fit-content;
  padding: 0.125em 0.5em;

  color: white;
  font-size: 14px;
  border-radius: 5px;
  display: inline-block;

  &[data-status='Awaiting Approval'], &[data-status='Awaiting Processing'],  &[data-status='In Progress'] {
    background: $pending;
  }

  &[data-status='Being Delivered'] {
    background: $purple;
  }

  &[data-status='Done'] {
    background: $success;
  }

  &[data-status='Cancelled'] {
    background: rgba(0,0,0,0.4);
  }
}
</style>
