<template>
  <select class="StatusSelect" :data-status="currentStatus" v-model="currentStatus">
    <option v-for="(value, key) in OrderState" :value="value" :key="key">{{value}}</option>
  </select>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from 'vue';
import { OrderState } from '../../model/types';
import fetch from '../../util/fetch';

export default defineComponent({
  name: 'StatusSelect',
  props: {
    status: {
      type: String,
      required: true,
    },
    orderId: {
      type: [String, Number],
      required: true,
    },
    accessToken: {
      type: String,
      required: true,
    },
    user: {
      type: Object,
      required: true,
    },
  },
  setup(props, context) {
    const currentStatus = ref<string>(props.status);

    watch(currentStatus, (newValue) => {
      fetch(`orders/${props.orderId}`, {
        status: newValue,
      }, 'PATCH', props.accessToken)
        .then(() => {
          context.emit('statusChanged');
        });
    });

    return {
      currentStatus,
      OrderState,
    };
  },
});
</script>

<style lang="scss">
@import "../../scss/variables";

.StatusSelect {
  padding: 0.25em;
  width: fit-content;
  color: white;
  border-radius: 5px;

  &[data-status='Awaiting Approval'], &[data-status='Awaiting Processing'],  &[data-status='In Progress'] {
    background: $pending;
  }

  &[data-status='Being Delivered'] {
    background: $purple;
  }

  &[data-status='Done'] {
    background: $success;
  }

  &[data-status='Cancelled'] {
    background: rgba(0,0,0,0.4);
  }
}
</style>
