<template>
  <div class="site-container" :class="{'dark-background': !accessToken}">
    <NavBar v-if="accessToken" :user="user" @logout="logout"/>

    <div class="view-container" v-if="(accessToken && user) || !accessToken">
      <router-view @userAuth="userAuth" :accessToken="accessToken" :user="user" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watchEffect } from 'vue';
import NavBar from './components/UI/NavBar.vue';
import { ObjectWithStringIndexes, User } from './model/types';
import fetch from './util/fetch';
import router from './router';

export default defineComponent({
  name: 'App',
  components: {
    NavBar,
  },
  setup() {
    const accessToken = ref<string|null>(localStorage.getItem('accessToken'));
    const userId = ref<string|null>(localStorage.getItem('userId'));
    const user = ref<User|null>(null);

    watchEffect(() => {
      if (!userId.value || !accessToken.value) {
        return;
      }

      fetch(`users/${userId.value}`, null, 'GET', accessToken.value)
        .then((content) => {
          if (content.error) {
            return;
          }

          user.value = content.user;
        });
    });

    return {
      accessToken,
      user,
      logout: () => {
        accessToken.value = null;
        userId.value = null;

        localStorage.removeItem('accessToken');
        localStorage.removeItem('userId');
        router.push('/login');
      },
      userAuth: (authObject: ObjectWithStringIndexes) => {
        localStorage.setItem('accessToken', authObject.token);
        localStorage.setItem('userId', authObject.userId);

        accessToken.value = authObject.token;
        userId.value = authObject.userId;
      },
    };
  },
});
</script>

<style lang="scss">
@import "scss/variables";

.site-container {
  display: flex;

  width: 100%;
  min-height: 100%;

  &.dark-background {
    background-color: $primary;
  }

  .navigation-bar {
    width: 15em;
  }

  .view-container {
    flex: 1;
    padding: 1.25em 3em 0 3em;
  }
}
</style>
