<template>
  <form class="AddNewProductForm overlay-form" @submit.prevent="submitForm" @input="errorMessage = ''">
    <div class="title-button-container">
      <h2>Add new product</h2>
      <button type="button" class="button close" @click="closeForm"><i class="far fa-times-circle fa-lg"></i></button>
    </div>

    <div>
      <div class="error" v-if="errorMessage">{{errorMessage}}</div>

      <InputField inputType="text" label="Product Code*" v-model="productCode"/>
      <InputField inputType="text" label="Product Name*" v-model="productName"/>
      <InputField inputType="text" label="Size (L x l x h) in mm*" v-model="productSize"/>

      <div class="one-liner">
        <InputField inputType="number" label="Selling Price(lei)*" v-model="sellingPrice" step="0.001"/>
        <InputField inputType="number" label="Production Price(lei)*" v-model="productionPrice" step="0.001"/>
      </div>

      <label>
        <span>Client</span>
        <select v-model="clientId">
          <option value="null" class="help-text">Generic product</option>
          <option v-for="client in clients" :key="client.id" :value="client.id">{{`${client.name} (${client.registrationNumber})`}}</option>
        </select>
      </label>
    </div>

    <div class="help-text">* required</div>

    <button type="submit" class="button primary">Save</button>
  </form>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import InputField from '../UI/InputField.vue';
import { Client } from '../../model/types';
import fetch from '../../util/fetch';

export default defineComponent({
  name: 'AddNewProductForm',
  components: {
    InputField,
  },
  props: {
    accessToken: {
      type: String,
      required: true,
    },
  },
  setup(props, context) {
    const productName = ref<string>('');
    const productCode = ref<string>('');
    const productSize = ref<string>('');
    const sellingPrice = ref<number|null>(null);
    const productionPrice = ref<number|null>(null);
    const clientId = ref<string|null>(null);
    const clients = ref<Array<Client>>([]);

    const errorMessage = ref<string>('');
    const isLoading = ref<boolean>(false);

    fetch('clients', null, 'GET', props.accessToken)
      .then((content) => {
        if (content.error) {
          return;
        }

        clients.value = content.clients;
      });

    return {
      productName,
      productCode,
      productSize,
      sellingPrice,
      productionPrice,
      clientId,
      clients,
      errorMessage,
      closeForm: () => {
        context.emit('update:openForm', false);
      },
      submitForm: () => {
        if (!productName.value || !productCode.value || !sellingPrice.value || !productionPrice.value || !productSize.value) {
          errorMessage.value = 'Please fill in all of the fields!';
          return;
        }

        if (productSize.value.match(/x/gi)?.length !== 2) {
          errorMessage.value = 'Please enter a valid product size!';
          return;
        }
        isLoading.value = true;

        fetch('products', {
          productCode: productCode.value,
          name: productName.value,
          size: productSize.value,
          productionPrice: productionPrice.value,
          sellingPrice: sellingPrice.value,
          clientId: clientId.value,
        }, 'POST', props.accessToken).then((content) => {
          if (content.error) {
            errorMessage.value = content.errorMessage;
            isLoading.value = false;
            return;
          }

          isLoading.value = false;
          context.emit('update:openForm', false);
        });
      },
    };
  },
});
</script>

<style lang="scss">
.AddNewProductForm {
  .one-liner {
    .InputField {
      width: 48%;
    }
  }

  select {
    height: 2.5em;
  }

  .button.primary {
    margin-top: 2em;
    width: 10em;
  }
}
</style>
