<template>
  <div class="Product" v-if="product !== null">
    <div>
      <h2>{{product.name}}</h2>
      <p>{{product.productCode}} - {{product.size}}mm</p>
    </div>
    <p>
      <strong>Product Type:</strong>
      {{product.clientId ? 'Custom Product' : 'Generic product'}}
    </p>
    <p v-if="product.clientId && client">
      <strong>Client:</strong>
      {{client.name}}
    </p>
    <p>
      <InputField inputType="number" label="Selling Price(lei):" v-model="sellingPrice" step="0.001"/>
    </p>
    <p>
      <InputField inputType="number" label="Production Price(lei):" v-model="productionPrice" step="0.001"/>
    </p>

    <button
      class="primary"
      :class="{'is-in-progress': inProgress}"
      :disabled="productionPrice === product.productionPrice && sellingPrice === product.sellingPrice"
      @click="updateProduct">
      Update
    </button>
  </div>
</template>

<script lang="ts">
import {
  defineComponent, onMounted, ref, watchEffect,
} from 'vue';
import { useRoute } from 'vue-router';
import { Product, Client } from '../../model/types';
import fetch from '../../util/fetch';
import InputField from '../UI/InputField.vue';

export default defineComponent({
  name: 'Product',
  components: {
    InputField,
  },
  props: {
    accessToken: {
      type: String,
      required: true,
    },
    user: {
      type: Object,
      required: true,
    },
  },
  setup(props) {
    const route = useRoute();
    const product = ref<Product|null>(null);
    const productId = ref<string|null>(null);
    const client = ref<Client|null>(null);
    const inProgress = ref<boolean>(false);
    const productionPrice = ref<number|null>(null);
    const sellingPrice = ref<number|null>(null);

    const getProduct = (id: string) => {
      fetch(`products/${id}`, null, 'GET', props.accessToken)
        .then((content) => {
          if (content.error) {
            return;
          }

          product.value = content.product;
          sellingPrice.value = product.value!.sellingPrice;
          productionPrice.value = product.value!.productionPrice;
        });
    };

    onMounted(() => {
      productId.value = route.params.id as string;
      getProduct(productId.value);
    });

    watchEffect(() => {
      if (!product.value || !product.value.clientId) {
        return;
      }

      fetch(`clients/${product.value.clientId}`, null, 'GET', props.accessToken)
        .then((content) => {
          if (content.error) {
            return;
          }

          client.value = content.client;
        });
    });

    return {
      product,
      inProgress,
      client,
      sellingPrice,
      productionPrice,
      updateProduct: () => {
        inProgress.value = true;

        fetch(`products/${productId.value}`, {
          sellingPrice: sellingPrice.value,
          productionPrice: productionPrice.value,
        }, 'PATCH', props.accessToken)
          .then((content) => {
            if (content.error) {
              inProgress.value = false;
              alert('Could not update. Try again!');
              return;
            }

            inProgress.value = false;
            getProduct(productId.value!);
          });
      },
    };
  },
});
</script>

<style lang="scss">
.Product {
  h2 {
    margin-bottom: -0.5em;
  }

  .InputField {
    font-weight: 600;

    input {
      height: 2em;
      margin-left: 1em;
    }
  }
}
</style>
