<template>
  <div class="Clients">
    <AddNewClientForm v-if="openForm" v-model:openForm="openForm" :accessToken="accessToken"/>

    <div :class="{ 'opaque-background': openForm }">
      <div class="title-button-container">
        <h1>Clients</h1>
        <button class="button primary" @click="openForm = true"><i class="fas fa-plus-circle fa-sm"></i> Add new client</button>
      </div>

      <div class="horizontal-line"></div>

      <table class="list-table" v-if="clients && clients.length">
        <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Address</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="client in clients" :key="client.id">
          <td>{{client.name}}</td>
          <td>{{client.email}}</td>
          <td>
            {{
              `${client.addressLine1} ${client.addressLine2},
               ${client.zipCode} ${client.city}, ${client.country}`
            }}
          </td>
          <td>
            <router-link :to="`/client/${client.id}`">
              <i class="fas fa-chevron-right"></i>
            </router-link>
          </td>
        </tr>
        </tbody>
      </table>
      <h3 v-if="clients && !clients.length">No clients yet!</h3>

    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from 'vue';
import fetch from '../util/fetch';
import { Client } from '../model/types';
import AddNewClientForm from '../components/client/AddNewClientForm.vue';

export default defineComponent({
  name: 'Clients',
  components: {
    AddNewClientForm,
  },
  props: {
    accessToken: {
      type: String,
      required: true,
    },
    user: {
      type: Object,
      required: true,
    },
  },
  setup(props) {
    const openForm = ref<boolean>(false);
    const clients = ref<Array<Client>>([]);
    const getClients = () => {
      fetch('clients', null, 'GET', props.accessToken)
        .then((content) => {
          if (content.error) {
            return;
          }

          clients.value = content.clients;
        });
    };

    getClients();

    watch(openForm, (newValue) => {
      if (!newValue) {
        getClients();
      }
    });

    return {
      clients,
      openForm,
    };
  },
});
</script>

<style lang="scss">
.Clients {
  h3 {
    text-align: center;
  }
}
</style>
