<template>
  <div class="Dashboard">
    <h1>Dashboard</h1>

    <div class="container-row orders" v-if="ordersStatusOverviewList">
      <DashboardOverviewContainer containerLabel="Awaiting Approval" containerStatus="awaiting" :containerValue="ordersStatusOverviewList['Awaiting Approval'] ? ordersStatusOverviewList['Awaiting Approval'] : 0"/>
      <DashboardOverviewContainer containerLabel="Awaiting Processing" containerStatus="awaiting" :containerValue="ordersStatusOverviewList['Awaiting Processing'] ? ordersStatusOverviewList['Awaiting Processing'] : 0"/>
      <DashboardOverviewContainer containerLabel="In Progress" containerStatus="awaiting" :containerValue="ordersStatusOverviewList['In Progress'] ? ordersStatusOverviewList['In Progress'] : 0"/>
      <DashboardOverviewContainer containerLabel="Being Delivered" containerStatus="being-delivered" :containerValue="ordersStatusOverviewList['Being Delivered'] ? ordersStatusOverviewList['Being Delivered'] : 0"/>
      <DashboardOverviewContainer containerLabel="Done" containerStatus="done" :containerValue="ordersStatusOverviewList['Done'] ? ordersStatusOverviewList['Done'] : 0"/>
    </div>

    <div class="horizontal-line"/>

    <div class="container-row sales-profit">
      <DashboardOverviewContainer containerLabel="Sales" containerStatus="done" :containerValue="`${sales} lei`"/>
      <DashboardOverviewContainer containerLabel="Profit" containerStatus="done" :containerValue="`${profit} lei`"/>
    </div>

    <div>
      <div v-if="orders && orders.length">
        <h3>Latest Orders</h3>
        <OrdersTable :user="user" :accessToken="accessToken" :orders="orders" @statusChanged="statusChanged"/>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import DashboardOverviewContainer from '../components/UI/DashboardOverviewContainer.vue';
import fetch from '../util/fetch';
import { ObjectWithStringIndexes, Order } from '../model/types';
import OrdersTable from '../components/order/OrdersTable.vue';

export default defineComponent({
  name: 'Dashboard',
  components: {
    DashboardOverviewContainer,
    OrdersTable,
  },
  props: {
    accessToken: {
      type: String,
      require: true,
    },
    user: {
      type: Object,
      require: true,
    },
  },
  setup(props) {
    const ordersStatusOverviewList = ref<ObjectWithStringIndexes|undefined>(undefined);
    const orders = ref<Array<Order>>([]);
    const sales = ref<number>(0);
    const profit = ref<number>(0);
    const getOrdersStatus = () => {
      fetch('dashboard/orders-status', null, 'GET', props.accessToken)
        .then((content) => {
          if (content.error) {
            return;
          }
          ordersStatusOverviewList.value = content.results;
        });
    };

    getOrdersStatus();

    fetch('orders', null, 'GET', props.accessToken)
      .then((content) => {
        if (content.error) {
          return;
        }
        content.orders.forEach((order) => {
          sales.value += Number(order.totalAmount);
          profit.value += (Number(order.totalAmount) - Number(order.totalProductionAmount));
        });
        orders.value = content.orders.splice(0, 4);
      });

    return {
      ordersStatusOverviewList,
      orders,
      sales,
      profit,
      statusChanged: () => {
        getOrdersStatus();
      },
    };
  },
});
</script>

<style lang="scss">
.Dashboard {
  .container-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &.sales-profit {
      margin: 2em auto;
      width: 55%;
      gap: 10%;

      .overview-container {
        flex-direction: column;
        border-left: none;
        flex: 1;

        .container-label {
          font-weight: 600;
          margin-bottom: 1em;
        }
      }
    }
  }

  .horizontal-line {
    margin-top: 2em;
  }
}
</style>
