<template>
  <div class="Orders" v-if="user">
    <AddNewOrderForm v-if="openForm" v-model:openForm="openForm" :accessToken="accessToken" :user="user"/>

    <div :class="{ 'opaque-background': openForm }">
      <div class="title-button-container">
        <h1>Orders</h1>
        <button class="button primary" @click="openForm = true"><i class="fas fa-plus-circle fa-sm"></i> Add new order</button>
      </div>

      <div class="horizontal-line"></div>

      <OrdersTable v-if="orders && orders.length" :user="user" :accessToken="accessToken" :orders="orders"/>
      <h3 v-if="orders && !orders.length">No orders yet!</h3>
    </div>
  </div>
</template>

<script lang="ts">
import {
  defineComponent, ref, watch, watchEffect,
} from 'vue';
import AddNewOrderForm from '../components/order/AddNewOrderForm.vue';
import fetch from '../util/fetch';
import { Order } from '../model/types';
import OrdersTable from '../components/order/OrdersTable.vue';

export default defineComponent({
  name: 'Orders',
  components: {
    AddNewOrderForm,
    OrdersTable,
  },
  props: {
    accessToken: {
      type: String,
      required: true,
    },
    user: {
      type: Object,
      required: true,
    },
  },
  setup(props) {
    const openForm = ref<boolean>(false);
    const clientId = ref<string|null>(null);
    const orders = ref<Array<Order>>([]);

    const getOrders = (id: string|null) => {
      let endpoint = 'orders';

      if (id) {
        endpoint = `orders?clientId=${id}`;
      }

      fetch(endpoint, null, 'GET', props.accessToken)
        .then((content) => {
          if (content.error) {
            return;
          }

          orders.value = content.orders;
        });
    };

    watchEffect(() => {
      if (!props.user) {
        return;
      }

      if (props.user.isAdmin) {
        clientId.value = null;
      } else {
        clientId.value = props.user.clientId;
      }

      getOrders(clientId.value);
    });

    watch(openForm, (newValue) => {
      if (!newValue) {
        if (props.user.isAdmin) {
          clientId.value = null;
        } else {
          clientId.value = props.user.clientId;
        }

        getOrders(clientId.value);
      }
    });

    return {
      orders,
      openForm,
    };
  },
});
</script>

<style lang="scss">
.Orders {
  h3 {
    text-align: center;
  }
}
</style>
