<template>
  <div class="Products">
    <AddNewProductForm v-if="openForm" v-model:openForm="openForm" :accessToken="accessToken"/>

    <div :class="{ 'opaque-background': openForm }">
      <div class="title-button-container">
        <h1>Products</h1>
        <button class="button primary" @click="openForm = true"><i class="fas fa-plus-circle fa-sm"></i> Add new product</button>
      </div>

      <div>
        <div class="search-icon"></div>
        <div class="horizontal-line"></div>
      </div>

      <table class="list-table" v-if="products && products.length">
        <thead>
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Size (mm)</th>
            <th>Selling Price</th>
            <th>Production Price</th>
            <th>Client</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="product in products" :key="product.id">
            <td>{{product.productCode}}</td>
            <td>{{product.name}}</td>
            <td>{{product.size}}</td>
            <td>{{product.sellingPrice}} lei</td>
            <td>{{product.productionPrice}} lei</td>
            <td>{{product.clientName ? product.clientName : 'Generic product'}}</td>
            <td><router-link :to="`/product/${product.id}`"><i class="fas fa-chevron-right"></i></router-link></td>
          </tr>
        </tbody>
      </table>
      <h3 v-if="products && !products.length">No products yet!</h3>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from 'vue';
import { Product } from '../model/types';
import AddNewProductForm from '../components/product/AddNewProductForm.vue';
import fetch from '../util/fetch';

export default defineComponent({
  name: 'Products',
  components: {
    AddNewProductForm,
  },
  props: {
    accessToken: {
      type: String,
      required: true,
    },
  },
  setup(props) {
    const openForm = ref<boolean>(false);
    const products = ref<Array<Product>>([]);
    const getProducts = () => {
      fetch('products', null, 'GET', props.accessToken)
        .then((content) => {
          if (content.error) {
            return;
          }

          products.value = content.products;
        });
    };

    getProducts();

    watch(openForm, (newValue) => {
      if (!newValue) {
        getProducts();
      }
    });

    return {
      products,
      openForm,
    };
  },
});
</script>

<style lang="scss">
.Products {
  h3 {
    text-align: center;
  }
}
</style>
